{% extends 'inicio.html' %}

{% block content %}

    <div class="container">
        {% if courses %}
            {% for course in courses %}
            <div class="card m-3 p-3" style="width: 64rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ course.value.profile.subject.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ course.value.profile.institution.name }}</h6>
                    <div class="row justify-content-between m-1">
                        <a href="{% url 'pupifire:course_profile' course.pk %}" class="card-link">Editar</a>
                        <a href="{% url 'pupifire:course_classes' course.pk %}" class="btn btn-primary">Ir a clase</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <h3>No se encontraron cursos</h3>
        {% endif %}

    </div>

{% endblock %}