{% extends "inicio.html" %}
{% load static %}

{% block body %}

    {{ block.super }}

    <h1>Hello, world!</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'pupifire:profile' %}">
                    <img src="{% static "img/pupi.jpg" %}" class="rounded float-left img-thumbnail" alt="Imagen">
                </a>
            </div>
            <div class="col">
                <img src="{% static "img/pupi.jpg" %}" class="rounded float-left img-thumbnail" alt="Imagen">
            </div>
            <div class="col">
                <img src="{% static "img/pupi.jpg" %}" class="rounded float-left img-thumbnail" alt="Imagen">
            </div>
        </div>
    </div>

{% endblock %}
