{% extends 'inicio.html' %}
{% load static %}

{% block head %}

    {{ block.super }}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth__es_419.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />

{% endblock %}

{% block content %}
    <h1>Bienvenido a Pupitres</h1>
    <h3>Login</h3>

    <!-- The surrounding HTML is left untouched by FirebaseUI.
    Your app may use that space for branding, controls and other customizations.-->
    <div id="firebaseui-auth-container"></div>

    {% csrf_token %}

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

    <script src="{% static 'js/firebase.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>

{% endblock %}
